body {
  background-color: lightblue;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 3px solid darkred;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 15px 15px 15px black;
}

th {
  text-align: left;
}

a#roll {
  padding: 5px;
  background-color: #ccc;
  border: 1px solid #222;
  text-decoration: none;
  color: #222;
  font-weight: bold;
}

#die {
  height: 85px;
  margin-top: 20px;
}

img {
  border: 3px solid darkred;
}
